<div class="contenedorHuertos">
   <!--este es el bloque donde estan todas las cosas de la izquierda, botones y textos-->
   <div class="gridIzquierda">
       <div class="">
            <button type="button" class="btn btn-success normal" id="botonAgregarHuerto">Agregar un Huerto</button> 
            <button type="button" class="btn btn-primary normal ">Editar un Huerto</button>
            <button type="button" class="btn btn-danger normal ">Eliminar un Huerto</button>

            
            <button type="button" class="btn btn-success agregandoHuerto" id="botonConfirmarAgregarHuerto">Confirmar</button>
            <button type="button" class="btn btn-danger agregandoHuerto " id="cancelarAgregarHuerto">Cancelar</button>       
       </div>	
       
       <div class="mensajesAyudaHuertos">
           <p class="normal">Para acceder a un huerto precione sobre el en el mapa</p>
           <p class="agregandoHuerto">Una vez que la figura del nuevo huerto este estalecida precione el boton "confirmar" para continuar</p> 
       </div>
   </div>


    <!--ESte es el svg donde se muestran todas las imagenes de los huertos-->
    <div class="gridDerechaMapaHuertos" data-permiso="noPermitido">
           <svg style="width:100%;height:100%;" id="svgMapaCampo">
           <text x="3%" y="3%" fill="black">Mapa del campo: <%=@campo.nombre%></text> 
           <!--aca para cada huerto se ejecuta el codigo -->  
           <%=render @huertos%>
           </svg>
    </div>




    <!---->
    <%=render partial: "crearHuerto"%>

</div>