
<div class="contenedorHuertos">
   <!--este es el bloque donde estan todas las cosas de la izquierda, botones y textos-->
   <div class="gridIzquierda">
       <div class="">
            <!-- clase vista normal-->
            <button type="button" class="btn btn-success normal" id="botonAgregarHuerto">Agregar un Huerto</button> 
            <button type="button" class="btn btn-primary normal" id="botonEditarHuerto">Editar un Huerto</button>
            <button type="button" class="btn btn-danger normal ">Eliminar un Huerto</button>

            <!-- clase agregandoHuerto-->
            <button type="button" class="btn btn-success agregandoHuerto" id="botonConfirmarAgregarHuerto">Confirmar</button>
            <button type="button" class="btn btn-danger agregandoHuerto " id="cancelarAgregarHuerto">Cancelar</button>   

            <!-- clase editandoHuerto-->
            <button type="button" class="btn btn-danger editandoHuerto " id="cancelarEditarHuerto">Terminar edicion</button>
            <button type="button" class="btn btn-danger editandoHuerto " id="editarFiguraHuerto">Editar figura</button>
            <button type="button" class="btn btn-danger editandoHuerto " id="editarInformacionHuerto">Editar Informacion</button>

            <!-- clase eliminandoHuerto--> 
            <button type="button" class="btn btn-danger eliminandoHuerto " id="cancelarEliminarHuerto">Terminar Eliminar</button>   
       </div>	
       
       <div class="mensajesAyudaHuertos">
           <p class="normal">Para acceder a un huerto precione sobre el en el mapa</p>
           <p class="textoAgregandoHuerto">Una vez que la figura del nuevo huerto este estalecida precione el boton "confirmar" para continuar</p> 
       </div>
   </div>


    <!--ESte es el svg donde se muestran todas las imagenes de los huertos-->
    <div id="gridDerechaMapaHuertos" data-permiso="normal">
        <div id="botonesAgregarImagenMapa">
           <button type="button" class="btn btn-secondary">Imagen de Fondo</button>
           <button type="button" class="btn btn-secondary"><strong>+</strong></button>
           <button type="button" class="btn btn-secondary"><strong>-</strong></button>  
       </div>
      
      <svg style="width:100%;height:100%;" id="svgMapaCampo">
           <text x="3%" y="3%" fill="black">Mapa del campo: <%=@campo.nombre%></text> 
           <!--aca para cada huerto se ejecuta el codigo -->
           <% @adentroSVG= true%>  
           <%=render @huertos%>
      </svg>
    </div>
    <!--Aca ponemos el modal que aparece al apretar un huerto, no puede ir dentro del svg, pr eso lo ponemos afuera, se triguea desde el poliline que esta en el svg-->
    <% @adentroSVG = false%>
    <div id="modalsHuertosOpciones">
    <%=render @huertos%>
    </div>
    

    <!--es lo que se usa para crear un huerto-->
    <%=render partial: "crearHuerto"%>
</div>

