<h1 class="h3 mb-3">Campos</h1>
	


  <div class="opcionesArribaFichaGenerica usadoEnIndexCampos">
    <h5><strong> Campos asociados a la cuenta</strong></h5>
    <div>
      <button id="botonCrearCampo" type="button" class="btn botonNaranjo" data-toggle="modal" data-target="#crearCampoModal">
        + Campo
      </button>
      <!--<button id="botonCompararCampos" type="button" class="btn botonAzul" >
        Comparar
      </button>-->
    </div>
  </div>
  <div class="contenedorLinkSuperioresMasContenidoFichaGenerica usadoEnIndexCampos">
    <div id="listaCampos">
     <%=render @campos%>         
   </div>


 <!-- -----------------------------crear un campo -------------------------   -->
<%=render "form"%>
 

</div><!--finContenedorFondoFichaGenerica-->




             






