<div class="contenedorCampos">
    <button id="botonCrearCampo" type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearCampoModal">
      Agregar Campo
    </button>
    <%=render partial: "crearCampo"%>

    <div id="listaCampos">
    <%=render @campos%>
              
    </div>
              
    

</div>