.contenedorCampos{
	background-color: lightgrey;
	width: 100%;
	min-height: 100vh;
	padding-top: 3vh;
	padding-bottom: 5vh;
}
#botonCrearCampo{
	margin-left:2%;
	margin-bottom: 2%;
}
.campoYNotas{
	position: relative;
	margin-left: 8.8%;
	margin-bottom: 5vh;
	height: 350px;
}


/* aca va todo lo asociado a la tarjeta del campo*/
.campo{
	display: inline-block;
}
.card.campo{
	width: 50vw;
	height: 350px;
	position: absolute;
	top: 0px;
	border-color: black;
}
.card-header.campo{
	background-color: #4CB200;
	display: inline-block;
}
.tituloCampoIzquierda{
	display: inline-block;
}
.opcionesCampoDerecha{
	display: inline-block;
	float: right;
}
.fotoOpcion{
	width: 20px;
	margin-left: 5px;
}
.botonesCampo{
	position: absolute;
	bottom: 3%;
	right: 2%;
}

/* aca va todo lo asociado a la tarjeta de la nota de un campo*/
.nota{
	display: inline-block;
}
.card.notaCampo{
    width: 29vw;
    height: 350px;
    position: absolute;
    top: 0px;
    left: 53vw;
    border-color: black;   
}
.tituloRecordatorio{
	position: absolute;
	top: 0.5vh;
	left: 1vw;
}
.form-control.textField.dondeSeEscribeLaNota{
	margin-top: 2vh;
	min-height: 300px;
	margin-bottom: 4px;
}
.btn.btn-success.guardarNota{
	position: absolute;
	right: 1vw;
	bottom: 1vh;

}

/* aca va todo lo asociado a la parte de agregar mapa de un campo*/
.contenedorMapaElegir{
	background-color: lightgrey;
	width: 100%;
	min-height: 100vh;
	padding-top: 2vh;
	padding-left: 2%;
	padding-right: 1.3%;
	padding-bottom: 2vh;
}
.gridIzquierdaElegirMapa{
	position: absolute;
	left:2%;
	top:16%;
	width: 11%;
}
.mensajesAyudaElegirMapa{
	margin-top: 30px;
}
#gridDerechaMapaHuertosSeleccionarMapa{
	position: absolute;
	display: inline-block;
	width: 84.5%;
	height: calc(94vh - 42px);
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: white;
	left: 15%;
}



.card.seleccionarMapaCampo{
	display: none;
}

#avisoGuardandoMapa{
	display: none;
	position: absolute;
	top:10vw;
	left: calc(60vw - 225px);
	width: 450px;
	text-align: center;

}