
.contenedorBotonesBarraArribaContabilidad{
	margin-left: 20px;
}

.contenedorImagenAgregarElementoContableMasTitulo{
	display: flex; 
	flex-direction: row;
	justify-content: flex-end; 
}



.contenedorInformacionMostrarElementoContable{
	display: inline;
}