/*--------------------------------para esconder algunas cosas de los forms---------------------------------------*/
.form-control.formEscondido{
	display: none;
}
.form-control.formSinBorde{
	border-style: none;

}


/*---------------------------Parte donde se llenan los datos------------------------*/




/*-----------------------------tabla haberes imponibles-----------------------------------------------*/

.contenedorTituloHaberesImponibles{
	display: inline-block;
	color: white;
	background-color: #47525d;
	border-radius: 10px;  
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	
}
.contenedorHaberesImponibles{
	margin-top: 20px;
	margin-bottom: 20px;
}
.table.table-bordered.tablaHaberesImponibles{
	border-style: solid !important; 
	border-color: #47525d!important;
	border-width: 2.5px !important;
	
}
/*.filaSuperiorMiniListaContenidaPagoItemsHaberes{
	border-bottom: solid;
	border-color: #0079c1;
	border-width: 3px;
}*/



/*-----------------------------tabla haberes no imponibles-----------------------------------------------*/

.contenedorTituloHaberesNoImponibles{
	display: inline-block;
	color: white;
	background-color: #333333;
	border-radius: 30px; 
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	
}
.contenedorHaberesNoImponibles{
	margin-top: 20px;
	margin-bottom: 20px;
}
.table.table-bordered.tablaHaberesNoImponibles{
	border-style: solid !important; 
	border-color: #333333 !important;
	border-width: 2.5px !important;
	
}
/*.filaSuperiorMiniListaContenidaPagoItemsHaberes{
	border-bottom: solid;
	border-color: #0079c1;
	border-width: 3px;
}*/

/*-----------------------------tabla descuentos-----------------------------------------------*/
.contenedorTituloDescuentos{
	display: inline-block;
	color: white;
	background-color: #eb5a46;
	border-radius: 30px;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}
.contenedorDescuentos{
	margin-top: 20px;
	margin-bottom: 20px;
}
.table.table-bordered.tablaDescuentos{
	border-style: solid !important;
	border-color: #eb5a46 !important;
	border-width: 2.5px !important;
}
/*.filaSuperiorMiniListaContenidaPagoItemsDescuentos{
	border-bottom: solid;
	border-color: #eb5a46;
	border-width: 3px;
}*/

/*--------------------------para la parte de agregar un item al pago----------------------------*/
.tituloColumnaBotonMiniListaContenida.columnaImagenesDerechaMiniListaContenida.espaciodeBotonAgregarItemDePago{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.botonAgregarItemAPago{
	cursor: pointer;
	padding-right: 15px;
	padding-left: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	background-color: lightgrey;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
}

.fotoOpcion.imagenDerechaAgregarItemPago{
    width: 18px;
	cursor: pointer;
	margin-right: 15px;
}

.fotoOpcion.imagenDerechaBorrarItemPago{
	width: 18px;
	cursor: pointer;
	float: right;
}
 

/*--------------------------------------donde se muestran los montos finales------------------------------------*/
.contenedorMontosFinales{
	margin-top: 20px;
	margin-bottom: 20px;
}
