.contenedorHaberesYDescuentos{
	margin-top: 20px;
	margin-bottom: 40px;
}
.contenedorObligaciones{
	margin-top: 20px;
	margin-bottom: 40px;
}
.contenedorMontosFinales{
	margin-top: 20px;
	margin-bottom: 20px;
}

.botonAgregarItemAEmpleado_pagoDerecha{
	float: right;
	background-color: lightgrey;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0, 0.19);
}
.fotoAgregarItemAEmpleado_pagoDerecha{
	width: 18px;
	cursor: pointer;
}
 