/*para que no aparesca en la form que hay que llenar pero que si exista*/
#bloqueMapaormularioCreacionHuerto{
	display: none;
}
#coordenadasFormularioCreacionHuerto{
	display: none;
}
.formEditarHuertoFigura{
	display: none;
}

/*contenedor general-----------------------------------------------------------*/
.contenedorHuertos{
	background-color: #f0e6c8;
	width: 100%;
	min-height: 120vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

/*todo lo de la izquierda-----------------------------------------------------------*/
.gridIzquierda{
	position: absolute;
	display: inline-block;
	height: calc(94vh - 42px);
	width: 14%;
	left: 0.6%;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-left: 0.5%;
	padding-right:0.5%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
	background-color: white;
	border-radius: 20px;
}
.contenedorGeneralVistasGridIzquierdaIndexHuertos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 40px;
}
.vistaAgregandoHuertoIndexHuertos{
	display: none;
}
.vistaEditandoHuertoFiguraIndexHuertos{
	display: none;
}
.contenedorBotonGridIzquierdaIndexHuertos{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 40px; 
}
.btn.botonGridIzquierdaIndexHuertos{
	min-width: 45%;
	max-width: 220px;
	

}
.textoAyudaGridIzquierdaIndexHuertos{
	text-align: left;
	font-weight: bold;
	color: black;
}



/* contenedores de las vistas grid izquierda index Huertos*/
.vistasIndexHuertos{

	margin-top: 3%;

}

/* vista index Huertos Normal*/









/*todo lo de la derecha-----------------------------------------------------------*/
#gridDerechaMapaHuertos{
	position: absolute;
	display: inline-block;
	right: 0.6%;
	width: 84.3%;
	height: calc(94vh - 42px);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
	background-color: white;
	border-radius: 20px;
	
}
/*los botones que se usan para cambiar el bloque del mapa donde estan los huertos*/
#todosLosBotonesParaCambiarBloque{
	position: absolute;
	left: 15px;
	top: 12px;
}
.botonParaCambiarBloque{
	z-index: 100;
}
.bloqueHuertos{
	position: relative;
	width: 100%;
	height: 100%;
}

.bloqueHuertosInicialmenteVisibles{/*bloques que estan visibles*/

}

.bloqueHuertosInicialmenteEscondidos{/*bloques que estan escondidos*/
	display: none;
}



/*los botones que se usan para agregar o quitar la imagen del mapa*/
.botonesAgregarImagenMapa{
	position: absolute;
	right: 15px;
	top: 12px;
}

.modal.fade.modalParaHuerto{
	padding-top: 5%;
}
.modal-content.modalParaHuerto{/*le damos el borde al modal*/
	border-width: 1px;
	border-color: black;
}
.imagenesDerechaModalIndexHuerto{
	display: flex;
	flex-direction: row;
}

/*aca las diferentes vistas que hay dentro del modal de un hueto*/
.normalHuertoModal{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-height: 1100px;
	height: 30vh; 
}
.contenedorVerticalBotonesOpcionRapidaHuertoModal{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 40%;
	
}
.btn.botonHuertoOpcionRapida{
	position: relative;
	display: block;
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	color: black; /*es el color del texto*/	
}
/*vemos los colores para cada boton de las opciones rapidas*/
.btn.botonHuertoOpcionRapida.colorGris{
	background-color: #6d6e71;
}
.btn.botonHuertoOpcionRapida.colorRojo{
    background-color: #bf5b20;
}
.btn.botonHuertoOpcionRapida.colorAzul{
    background-color: #006e96;
}
.btn.botonHuertoOpcionRapida.colorVerde{
    background-color: #8c8700;
}
.btn.botonHuertoOpcionRapida.colorRozado{
	background-color: #ad5f7d;
}
.btn.botonHuertoOpcionRapida.colorCafe{
    background-color: #d79100;
}









/*aca estan los avisos que se usan--------------------------------------------------*/

#avisoCargandoMapaHuerto{
	display: none;
	position: absolute;
	top:2.5%;
	left: calc(50% - 225px);
	width: 450px;
	text-align: center;
}

#avisoSuperficieHuertoNoValida{
	display: none;
	position: absolute;
	top:2.5%;
	left: calc(50% - 225px);
	width: 450px;
	text-align: center;
}

#avisoNoSePuedeCambiarBloque{
	display: none;
	position: absolute;
	top:2.5%;
	left: calc(50% - 225px);
	width: 450px;
	text-align: center;
}


