.contenedorHuertos{
	background-color: lightgrey;
	width: 100%;
	min-height: 100vh;
	padding-top: 2vh;
	padding-left: 2%;
	padding-right: 1.3%;
	padding-bottom: 1%;
}

.gridIzquierda{
	position: absolute;
	left:2%;
	top:16%;
	width: 11%;
}

#gridDerechaMapaHuertos{
	position: absolute;
	display: inline-block;
	width: 84.5%;
	height: 95vh;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: white;
	left: 15%;
}

.mensajesAyudaHuertos{
	margin-top: 30px;
}
/*los botones que se usan para agregar o quitar la imagen del mapa*/
#botonesAgregarImagenMapa{
	position: absolute;
	right: 5px;
	top: 3px;

}

/* aca estan las cosas que se muestran normalmente*/
.btn.btn-success.normal{
	min-width: 90%;
	margin-bottom: 2vh;	
}
.btn.btn-primary.normal{
	min-width: 90%;
	margin-bottom: 2vh;
}
.btn.btn-danger.normal{
	min-width: 90%;
	margin-bottom: 2vh;
}
/* aca estan las cosas en la vista cuando se esta agregando un huerto*/
.btn.btn-success.agregandoHuerto{
	display: none;
	min-width: 100%;
	margin-bottom: 2vh;
}
.btn.btn-danger.agregandoHuerto{
	display: none;
	min-width: 100%;
	margin-bottom: 2vh;
}
.textoAgregandoHuerto{
	display: none;

}
#coordenadasFormularioCreacionHuerto{/*para que no aparesca en la form que hay que llenar pero que si exista*/
	display: none;
}


/*aca estan las cosas en la vista cuando se esta editando un huerto*/
/*se elige si se edita la figura o la informacion del huerto*/
.btn.btn-danger.editandoHuertoGeneral{
	display: none;
	min-width: 100%;
	margin-bottom: 2vh;
}
.btn.btn-primary.editandoHuertoGeneral{
	display: none;
	min-width: 100%;
	margin-bottom: 2vh;
}
.btn.btn-success.eligiendoHuertoFiguraParaEditar{
	display: none;
	min-width: 100%;
	margin-bottom: 2vh;
}
.btn.btn-danger.eligiendoHuertoFiguraParaEditar{
	display: none;
	min-width: 100%;
	margin-bottom: 2vh;
}
.btn.btn-success.editandoHuertoFiguraElegida{
	display: none;
	min-width: 100%;
	margin-bottom: 2vh;
}
.btn.btn-danger.editandoHuertoFiguraElegida{
	display: none;
	min-width: 100%;
	margin-bottom: 2vh;
}
/*se elige si se edita la figura o la informacion del huerto*/
.textoEditandoHuertoGeneral{
	display: none;
}
.textoEligiendoHuertoFiguraParaEditar{
	display: none;
}
.textoEditandoHuertoFiguraElegida{
	display: none;
}
.textoEditandoInformacionHuerto{
	display: none;
}
/**/
#avisoHuertoSeleccionado{
	display: none;
	position: absolute;
	top:2.5%;
	left: calc(50% - 225px);
	width: 450px;
	text-align: center;
}
.formOcultaEditarHuertoFigura{
	display: none;

}





/* las cosas cuando se esta eliminando un huerto*/
.btn.btn-danger.eliminandoHuerto{
	display: none;
	min-width: 100%;
	margin-bottom: 2vh;
}
.textoEliminandoHuerto{
	display: none;
}